body{
    margin:0px;
    padding:0px;

}

header{
    background-color :rgb(212, 97, 155);
    color:rgb(0, 0, 0);
    height: 6em;
}


header h1{
    font-size: 34px;
    text-align:center;
    font-family:sans-serif;
}
img{
    width: 400px;
    height:200px ;
}

footer{
    background-color: rgb(226, 154, 215);
    text-align: center;
    color: rgb(3, 0, 0);
    position:fixed;
    width:100%
}

main{
    background-color: rgb(255, 255, 255);
    width: 70%;
}